.AudienceRow {
  display: grid;
  grid:
    "title controls" auto
    "content controls" 1fr
    "meta controls" auto
    / 1fr auto;

  border: 1px solid #222;
  margin: 15px;

  &__title {
    grid-area: title;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
  }

  &__content {
    grid-area: content;
  }

  &__description {
    margin: 10px;
  }

  &__filter {
    padding: 5px;
    margin: 0 5px;
    background: #eee;
    border-radius: 4px;
    display: inline-block;
  }

  &__meta {
    grid-area: meta;
    margin: 10px;
  }
}

.AudienceControl {
  display: flex;
  flex-direction: column;

  height: 100%;

  &__control {
    flex: 1;
  }

  &__overrides {
  }
}
