.Navigation {
  flex: 1;

  display: flex;
  align-items: center;

  &__Item {
    a {
      display: block;
  
      padding: 8px;
      margin: 8px;
  
      border-radius: 3px;
  
      text-decoration: none;
      color: inherit;
      font-weight: bold;
  
      &:hover {
        background: #444;
      }
    }
  }

  &__Spacer {
    flex: 1;
  }
}

